<html>
<head>
	<title>Generador de escala de notas</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link href="escala.css" media="screen" rel="stylesheet" type="text/css">
</head>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11840444-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<body>
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

	<div id="header">
		<h1>Generador de escala de notas</h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		<form id="formulario" method="get">
			<div class="field">Nota mín.	<input size="4" type="text" name="nmin" value="<%=params[:nmin] %>" /></div>
			<div class="field">Nota máx.	<input size="4" type="text" name="nmax" value="<%=params[:nmax] %>" /></div>
			<div class="field">Nota aprobación	<input size="4" type="text" name="napr" value="<%=params[:napr] %>" /></div>
			<div class="field">Exigencia	<input size="4"  type="text" name="exig" value="<%=params[:exig] %>"  /> %</div>
			<div class="field">Ptje. máximo <input size="5" type="text" name="pmax" value="<%=params[:pmax] %>"  /></div>
			<div class="field">Paso 
				<input size="4" type="text" name="paso" value="<%=params[:paso] %>"  /></div>
			<div class="field"><input type="submit" value="Generar tabla"/></div>
		</form>

	</div>
<table>
	<tr>
	<% @notas.each do |nota|%>
	<td valign="top">
	<div id="escala">
		<table>
			<tr><th>Puntaje</th><th>Nota</th></tr>
			<% nota.each do |n| %>
			<tr>
				<td><%= n.first %></td>
				<td

				<% if (n.last*10).round/10.0 < params[:napr] %>
				class="rojo"
				<% end %>

				>
				<%= (n.last*10).round/10.0 %>
				</td>
			</tr>
				<% end %>
			</table>

		</div>
		</td>
		<% end %>
		</tr>
		</table>

        <ul>
          <li>Nota mínima: la correspondiente a puntaje 0 (en chile suele ser 1,0 ó 2,0)</li>
          <li>Nota máxima: la correspondiente al puntaje máximo (en Chile es 7,0)</li>
          <li>Nota aprobación: nota considerada "suficiente" (en Chile es 4,0)</li>
          <li>Exigencia: porcentaje del puntaje máximo necesario para obtener la nota de aprobación</li>
          <li>Puntaje máximo: ¿se explica solo?</li>
          <li>Paso: cantidad de puntos en que se va incrementando la escala (de 1,0 en 1,0, 0,5 en 0,5, etc.)</li>
        </ul>
		<div id="footer">
      <p>Creado por <a href="http://pumarino.org/">Juan Ignacio Pumarino</a> utilizando <a target="_blank" href="http://www.sinatrarb.com">Sinatra</a></p> 
		</div>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb6.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(6920,0.045,"www03");
</script>
<!-- ClickTale end of Bottom part -->

	</body>
	</html>
